    .cont {
    color: white;
    padding-top: 30px;
    width: 1070px;
    height: 400px;
    opacity: 0.5;
    }
    .container {
      position: relative;
      /* max-height: 1000px; */
      max-width: 1150px; /* Maximum width */
      margin: 0 auto; /* Center it */
    }
    .container .content {
    position: relative; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 1033px; /* Full width */
    padding: 20px; /* Some padding */
  }

  
  .column {
    float: left;
    width: 300px;
    text-align: center;
    font-size: 25px;
    height: 400px;
    cursor: pointer;
    color: blue;
    border: solid black;
    column-gap: 20px;

  }
  .row {
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-column-gap: 50px;
    padding-left: 0px;
  }
  div.column img{
      width: 300px;
      height: 200px;
  }
    div.column h1{
        font-size: 20px;
        color: black;
    }
    div.column p{
        color: black;
        font-size: 18px;
    }
    .containerTab {
        padding: 20px;
        color: white;
      }
      .closebtn {
        float: right;
        color: white;
        font-size: 35px;
        cursor: pointer;
      }
      div.column a{
          color: rgb(252, 66, 9);
      }
      
  
  
  